@layer tailwind {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mantine-Tree-subtree .mantine-Tree-node:first-child > .mantine-Tree-label {
  @apply pt-0 mt-2;
}

.mantine-Tree-subtree .mantine-Tree-node:last-child > .mantine-Tree-label {
  @apply pb-0;
}

@keyframes slideDown {
  0% {
    transform: translateY(-30%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.button {
  @apply flex items-center justify-center rounded shadow-floating bg-[#F9FAFA] border border-[#DEDFDF] active:bg-[#dddfdf];
}
